= simple_form_for @student do |f|
  = f.error_notification
  = f.input :username
  = f.input :email
  = f.input :full_name
  = f.input :contact
  = f.input :address
  = f.input :father
  = f.input :mother
  = f.input :password
  = f.input :password_confirmation
  %hr
  = f.button :submit, class: 'button is-success'
