- if student.schools.any?
  .title.has-text-centered 
    = student.full_name + "'s Schools"
  .columns.is-multiline
    - student.schools.each do |school|
      .column.is-one-fifth
        .card.has-background-primary-light
          .card-content.has-text-centered.is-size-4
            = school.name
          .card-footer
            = link_to student_school_url(student, school), class: "card-footer-item" do
              %i.fa.fa-link
              show
- else
  .card.has-background-danger
    .card-content.has-text-light
      = student.full_name + " has got no schools. If you are not the admin, contact the admin."
- if user_signed_in_non_student?
  - if current_user.has_role?(:admin)
    %br/
    .notification.is-link.subtitle.is-light.has-text-centered.animate__animated.animate__slideInUp
      Choose from the list below to create a new account of
      = student.full_name 
      in the selected school