.columns
  .column.is-four-fifths
    %article.panel.is-info
      %p.panel-heading
        = student.full_name + "'s"
        dashbord
      .panel-block
        %p.control.has-icons-left
          %input.input.is-info{:placeholder => "Search", :type => "text"}/
          %span.icon.is-left
            %i.fas.fa-search{"aria-hidden" => "true"}
      %a.panel-block
        %span.panel-icon
          %i.fas.fa-school{"aria-hidden" => "true"}
        My schools
        .panel-tabs
          - if student.schools.any?        
            - student.schools.each do |school|
              = link_to student_school_url(student, school) do
                = school.name
          - else
            %a No schools allocated to you
      %a.panel-block
        %span.panel-icon
          %i.fas.fa-book{"aria-hidden" => "true"}
        My Classes
        .panel-tabs
          - if student.standards.any?
            - student.standards.each do |standard|      
              = link_to student_standard_url(student, standard) do
                = standard.name
          - else
            %a No class allocated to you    
      %a.panel-block
        %span.panel-icon
          %i.fas.fa-book{"aria-hidden" => "true"}
        minireset.css
      %a.panel-block
        %span.panel-icon
          %i.fas.fa-book{"aria-hidden" => "true"}
        jgthms.github.io
  .column.is-one-fifth   
    .card
      .card-image
        .image-is-4x3
          - if student.avatar.present?
            = image_tag student.avatar, class: "is-rounded"
          - else
            = image_tag "bulma.png"  
      .card-content
        %strong Full Name:
        %br
        = student.full_name
        %p
          %strong username:
          %br
          = student.username
        %p
          %strong Contact Number:
          %br
          = student.contact
        %p
          %strong Email:
          %br
          = student.email
        %p
          %strong Father:
          %br
          = student.father
        %p
          %strong Mother:
          %br
          = student.mother
        %p
          %strong Address:
          %br
          = student.address
      - if user_signed_in_non_student?
        .card-footer 
          .card-footer-item 
            - if current_user.has_role?(:admin)
              = link_to edit_student_path(student), class: "button is-warning" do 
                Edit student
- if user_signed_in_non_student?
  - if current_user.has_role?(:admin)
    ADD SOME CODE HERE ADMIN!

-# .row
-#   .col-4
-#     .card
-#       -# %img.card-img-top{:alt => "", :src => ""}/
-#       .card-body
-#         %h5.card-title
-#           Full Name:
-#           = student.full_name
-#         %p.card-text
-#           Email:
-#           = student.email
-#         %p.card-text
-#           Contact Number:
-#           = student.contact
-#         %p.card-text
-#           Address:
-#           = student.address
-#         %p.card-text
-#           Father:
-#           = student.father
-#         %p.card-text
-#           Mother:
-#           = student.mother
-#       .card-footer
-#         %small.text-muted
-#           Student joined us on:
-#           = student.created_at.strftime("%A %d of %B, %Y")
-#   .col-8
