- @students.each do |student|
  %tbody
    %tr
      %th{:scope => "row"} 
        = link_to student_path(student) do
          .fa.fa-link
          = student.full_name
      %td
        = student.father
      %td
        = student.contact
      - if user_signed_in_non_student?
        - if current_user.has_role?(:admin)
          %td
            = link_to edit_student_url(student), class: "button is-warning is-small" do
              Edit