.level
  .level-item
    = simple_form_for([@user, @standard, @user_standard], url: user_standard_user_standard_academic_years_url) do |f|
      = f.error_notification
      .notification.is-link
        = @user.full_name
      .notification.is-success
        = @standard.name
      = f.input :year
      = f.submit "Add the user in the class", class: "button is-link"