%article.panel.is-info
  %p.panel-heading
    = user.full_name
  .panel-block
    %p.control.has-icons-left
      %input.input.is-info{:placeholder => "Search", :type => "text"}/
      %span.icon.is-left
        %i.fas.fa-search{"aria-hidden" => "true"}
  = link_to new_user_url, class: "panel-block" do
    %span.panel-icon
      %i.fas.fa-user{"aria-hidden" => "true"}
    New user
  = link_to new_school_url, class: "panel-block" do
    %span.panel-icon
      %i.fas.fa-school{"aria-hidden" => "true"}
    New school
  = link_to new_student_url, class: "panel-block" do
    %span.panel-icon
      %i.fas.fa-user-graduate{"aria-hidden" => "true"}
    New student
  = link_to users_url, class: "panel-block" do
    %span.panel-icon
      %i.fas.fa-users{"aria-hidden" => "true"}
    All users
  = link_to schools_url, class: "panel-block" do
    %span.panel-icon
      %i.fas.fa-building{"aria-hidden" => "true"}
    All schools
  = link_to students_url, class: "panel-block" do
    %span.panel-icon
      %i.fas.fa-graduation-cap{"aria-hidden" => "true"}
    All students
  - if @user.schools.any?        
    = link_to user_schools_url(@user), class: "panel-block" do
      %span.panel-icon
        %i.fas.fa-building.has-text-success{"aria-hidden" => "true"}
      My schools
  - else
    %a.panel-block
      %span.panel-icon
        %i.fas.fa-times-circle.has-text-danger{"aria-hidden" => "true"}
      No schools allocated to you