.columns.is-multiline
  - @school_users.each do |user|
    .column.is-one-fifth
      .card
        .card-image
          %figure.image.is-3by2
            - if user.avatar.present?
              = image_tag user.avatar
            - else
              = image_tag "bulma.png"
        .card-header
          .card-header-title.is-centered
            = link_to user_path(user) do
              = user.full_name
        .card-content
          %small 
            %strong Email:
            = user.email
          %br/
          %small
            %strong Contact:
            = user.mobile
          %br/
          = render 'users/roles', user: user
        .card-footer
          - if current_user.has_role?(:admin)
            = link_to edit_user_url(user), class: "button is-warning is-small card-footer-item" do
              Edit