%article.panel.is-info
  %p.panel-heading
    = user.full_name + "'s dashbord"
  .panel-block
    %p.control.has-icons-left
      %input.input.is-info{:placeholder => "Search", :type => "text"}/
      %span.icon.is-left
        %i.fas.fa-search{"aria-hidden" => "true"}
  - if @user.schools.any?        
    = link_to user_schools_url(@user), class: "panel-block" do
      %span.panel-icon
        %i.fas.fa-building.has-text-success{"aria-hidden" => "true"}
      My schools
  - else
    %a.panel-block
      %span.panel-icon
        %i.fas.fa-times-circle.has-text-danger{"aria-hidden" => "true"}
      No schools allocated to you
  - if @user.standards.any?        
    = link_to user_standards_url(@user), class: "panel-block" do
      %span.panel-icon
        %i.fas.fa-chalkboard-teacher.has-text-success{"aria-hidden" => "true"}
      My classes
  - else
    %a.panel-block
      %span.panel-icon
        %i.fas.fa-times-circle.has-text-danger{"aria-hidden" => "true"}
      No classes allocated to you
  %a.panel-block
    %span.panel-icon
      %i.fas.fa-book{"aria-hidden" => "true"}
    My Classes
    .panel-tabs
      - if @user.standards.any?
        - @user.standards.each do |standard|      
          = link_to user_standard_url(@user, standard) do
            = standard.name
      - else
        %a No class allocated to you    
  %a.panel-block
    %span.panel-icon
      %i.fas.fa-book{"aria-hidden" => "true"}
    minireset.css
  %a.panel-block
    %span.panel-icon
      %i.fas.fa-book{"aria-hidden" => "true"}
    jgthms.github.io