%article.panel.is-info
  %p.panel-heading
    = user.full_name
    's dashbord
  %p.panel-tabs
    %a My Schools
    %a My Classes
    %a My Students
    %a My Exams
    %a My Markings
  .panel-block
    %p.control.has-icons-left
      %input.input.is-info{:placeholder => "Search", :type => "text"}/
      %span.icon.is-left
        %i.fas.fa-search{"aria-hidden" => "true"}
  %a.panel-block
    %span.panel-icon
      %i.fas.fa-school{"aria-hidden" => "true"}
    My schools
    .panel-tabs
      - if @user.schools.any?        
        - @user.schools.each do |school|
          = link_to user_school_url(@user, school) do
            = school.name
      - else
        %a No schools allocated to you
  %a.panel-block
    %span.panel-icon
      %i.fas.fa-book{"aria-hidden" => "true"}
    My Classes
    .panel-tabs
      - if @user.standards.any?
        - @user.standards.each do |standard|      
          = link_to user_standard_url(@user, standard) do
            = standard.name
      - else
        %a No class allocated to you    
  %a.panel-block
    %span.panel-icon
      %i.fas.fa-book{"aria-hidden" => "true"}
    minireset.css
  %a.panel-block
    %span.panel-icon
      %i.fas.fa-book{"aria-hidden" => "true"}
    jgthms.github.io