- @users.each do |user|
  %tbody
    %tr
      %th{:scope => "row"} 
        = link_to user_path(user) do
          .fa.fa-link
          = user.full_name
      %td
        = user.email
      %td
        = user.mobile
      %td
        = render 'users/roles', user: user
      - if current_user.has_role?(:admin)
        %td 
          = link_to edit_user_url(user), class: "button is-warning is-small" do
            Edit