.columns.is-multiline
  .column.is-one-fifth
    .column
      .has-text-centered.has-backgroud-light
        = image_tag "user-dashboard.svg"
        .p.title.has-text-centered
          = @user.username + "'s" + " dashboard"
    .column
      %article.media
        .media-content
          = admin_add_school_button
  .column.is-four-fifths
    .columns.is-multiline 
      .column.is-full.pb-0
        %article.media
          %figure.media-left
            %p.image.is-96x96
              - if @user.avatar.present?
                = image_tag @user.avatar
              - else
                = image_tag "bulma.png"
          .media-content
            .content
              %strong Full Name:
              = @user.full_name + ","
              %p
                %strong Username:
                = @user.username + ","
                %strong Contact Number:
                = @user.mobile + ","
                %strong Address:
                = @user.address
                - if current_user.has_role?(:admin)
                  = link_to edit_user_path(@user), class: "button is-warning is-small" do 
                    Edit user  
      .column.is-full.pt-0
        .media-content
          - if @user.has_role?(:admin)
            = render 'users/admin_show', user: @user
          - if @user.has_role?(:teacher)
            = render 'users/teacher_show', user: @user