.row
  .col-9.mt-3
    = render 'users/user', user: @user
  - if current_user.has_role?(:admin)
    .col-3.mt-3
      .btn-group-vertical
      = link_to new_student_path, class: "btn btn-lg btn-outline-success" do
        Create New Student Account
      = link_to new_user_path, class: "btn btn-lg btn-outline-success" do
        Create New User Account
%br
- if current_user.has_role?(:admin)
  .btn-group 
    = link_to users_path, class: 'btn btn-outline-primary' do
      All Users
    = link_to students_path, class: "btn btn-outline-primary" do
      All Students
  
