.columns
  .column.is-four-fifths
    - if @user.has_role?(:admin)
      = render 'users/admin_show', user: @user
    - if @user.has_role?(:teacher)
      = render 'users/teacher_show', user: @user
    = admin_add_school_button
  .column.is-one-fifth   
    .card
      .card-image
        .image-is-4x3
          - if @user.avatar.present?
            = image_tag @user.avatar
          - else
            = image_tag "bulma.png"
      .card-content     
        %strong Full Name:
        %br
        = @user.full_name
        %p
          %strong Username:
          %br
          = @user.username
        %p
          %strong Contact Number:
          %br
          = @user.mobile
        %p
          %strong Address:
          %br
          = @user.address
      - if current_user.has_role?(:admin)
        .card-footer 
          .card-footer-item 
            = link_to edit_user_path(@user), class: "button is-warning" do 
              Edit user