.level
  .level-item
    = simple_form_for([@student, @standard, @student_standard], url: student_standard_student_standard_academic_years_url) do |f|
      = f.error_notification
      .notification.is-link
        = @student.full_name
      .notification.is-success
        = @standard.name
      = f.input :year
      = f.submit "Add the user in the class", class: "button is-link"