.section.is-medium
  .tile.is-ancestor
    .tile
      .tile.is-parent.is-4
        %article.tile.is-child.notification.is-info
          .title
            %i.fa.fa-user
            = @student.full_name
      .tile.is-parent.is-2
        %article.tile.is-child.notification.is-link.has-text-centered
          .title
            %i.fa.fa-arrow-right
      .tile.is-parent.is-6
        %article.tile.is-child.notification.is-primary
          .title
            %i.fa.fa-school
            = @school.name
  .level
    .level-item 
      = link_to student_school_student_schools_path, method: :post, class: "button is-link is-medium" do
        Add
        = @student.full_name 
        to
        = @school.name