= simple_form_for(@school) do |f|
  = f.error_notification
  = f.input :name
  = f.input :head
  = f.input :deputy_head
  = f.input :academic_head
  = f.input :assistant_a_h
  = f.input :islamic_deputy
  = f.input :environment_incharge
  %hr 
  = f.button :submit, class: "button is-success"