.title.has-text-centered
  .fas.fa-user-graduate
  My Classes in
  = @school.name
.columns.is-multiline
  - if @student_school_standards.any? 
    - @student_school_standards.each do |standard|
      .column.is-one-fifth
        .card.has-background-success-light
          .card-header 
            .card-header-title.is-centered
              = link_to student_standard_url(@student, standard) do
                .fa.fa-link 
                = standard.name
          .card-content
            %small
              %strong Section:
              = standard.section
            %br
            %small
              %strong Class Teacher:
              = standard.class_teacher
            %br
            %small
              %strong Academic Year
              = standard.with_student_standard_academic_year(@student, standard)
  - else
    .message.is-danger
      .message-body No classes yet. Please contact the school authorities!
%hr.has-background-info