.is-size-4.has-text-centered.has-background-light
  .fas.fa-user-graduate.has-text-link
  My Classes in
  = @school.name
%table.table.is-fullwidth.is-hoverable.has-background-success-light
  %thead
    %tr
      %th{:scope => "col"} Classs
      %th{:scope => "col"} Section
      %th{:scope => "col"} Class Teacher
      %th{:scope => "col"} Academic Year
  %tbody
    - @student_school_standards.each do |standard|
      %tr
        %th{:scope => "row"}
          = link_to standard_url(standard) do
            .fa.fa-link 
            = standard.name
        %td
          = standard.section
        %td
          = standard.class_teacher
        %td
          = standard.with_student_standard_academic_year(@student, standard)
      

