.title.has-text-centered
  .fas.fa-chalkboard-teacher
  My Classes in
  = @school.name
.columns.is-multiline
  - @user_school_standards.each do |standard|
    .column.is-one-fifth
      .card.has-background-success-light
        .card-header 
          .card-header-title.is-centered
            = link_to student_standard_url(@user, standard) do
              .fa.fa-link 
              = standard.name
        .card-content
          %small
            %strong Section:
            = standard.section
          %br
          %small
            %strong Class Teacher:
            = standard.class_teacher
          %br
          %small
            %strong Academic Year
            = standard.with_user_standard_academic_year(@user, standard)
%hr.has-background-info