.content
  .title.has-text-centered
    .fa.fa-cogs
    Admin
  .message.is-dark
    .message-body
      To add the user/student to a new class in this school click "Add here" button.
  .columns.is-multiline 
    = link_to school_standards_url(@school), class: "button is-link is-fullwidth" do
      .fa.fa-arrow-circle-right
      All classes and Add a new class
    - @school.standards.each do |standard|
      .column.is-one-fifth
        .card.has-background-link-light
          .card-header
            .card-header-title.is-centered
              = link_to standard_url(standard) do
                .fa.fa-link
                = standard.name
          .card-content
            %small 
              %strong Section:
              = standard.section
            %br
            %small 
              %strong Class teacher:
              = standard.class_teacher
          .card-footer
            = link_to edit_standard_url(standard), class: "button is-warning is-small card-footer-item" do
              Edit
            - if params[:user_id]
              = add_user_to_class_with_count(@user, standard)
            - if params[:student_id]
              = link_to new_student_standard_student_standard_academic_year_url(@student, standard), class: "button is-link is-small card-footer-item" do
                Add here
  .columns.is-multiline
    .column
      .card.has-background-success-light
        .card-header
          .card-header-title.is-centered
            Users
        .card-content
          Click the button below to see all the users connected with this school.
        .card-footer 
          = link_to school_users_url(@school), class: "button is-link is-small card-footer-item" do
            Show
    .column
      .card.has-background-success-light
        .card-header
          .card-header-title.is-centered
            Students
        .card-content
          Click the button below to see all the students connected with this school.
        .card-footer 
          = link_to school_students_url(@school), class: "button is-link is-small card-footer-item" do
            Show