- if params[:user_id]
  = render 'users/user_schools', user: @user
- if params[:student_id]
  = render 'students/student_schools', student: @student
- if user_signed_in_non_student?
  - if current_user.has_role?(:admin)
    .title.has-text-centered All Schools
    .columns.is-multiline
      - @schools.each do |school|
        .column.is-one-quarter
          .card.has-background-success-light
            .card-header
              .card-header-title.is-centered
                = school.name
            .card-content
              %strong Head of the school:
              = school.head
              %br/
              %strong Deputy Head of the school:
              = school.deputy_head
            .card-footer
              = link_to school_standards_path(school), class: "button is-link is-small card-footer-item" do
                Classes in
                = school.name
              = link_to edit_school_path(school), class: "button is-warning is-small card-footer-item" do
                Edit
              = school_link(school)