.title.has-text-centered
  = @school.name
%hr.has-background-success
.columns     
  .column.is-four-fifths
    - if user_signed_in_non_student?
      - if current_user.has_role?(:teacher) || current_user.has_role?(:admin) && params[:user_id] 
        = render "schools/school_teacher_table"
      - if current_user.has_role?(:admin) && params[:student_id] 
        = render "schools/school_student_table"
      - if current_user.has_role?(:admin)
        = render "schools/school_admin_table"
    - if user_signed_in_student?
      - if @student
        = render "schools/school_student_table"
  .column.is-one-fifth
    .card.has-background-light
      .card-header
        .card-header-title
          .fa.fa-id-card.has-text-link
          Who's who?
      .content
        %ul 
          %li 
            %strong School Head:
            %br
            = @school.head
          %li
            %strong School Deputy Head:
            %br
            = @school.deputy_head
          %li
            %strong School Academic Head:
            %br
            = @school.academic_head
          %li
            %strong School Assistant Academic Head:
            %br
            = @school.assistant_a_h
          %li
            %strong School Islamic Deputy:
            %br
            = @school.islamic_deputy
          %li
            %strong School Environment Incharge:
            %br
            = @school.environment_incharge
      .card-footer
        .card-footer-item.is-size-7
          School account created at: 
          = @school.created_at.strftime("%A %d of %B, %Y")
        - if user_signed_in_non_student?
          - if current_user.has_role?(:admin)
            .card-footer-item.has-text-centered
              = link_to edit_school_path(@school), class: "button is-warning is-small" do
                Edit