.title.has-text-centered
  = @school.name
.columns     
  .column.is-two-thirds
    - if user_signed_in_non_student?
      - if current_user.has_role?(:admin)
        = render "schools/school_admin_table"
      - if current_user.has_role?(:teacher) || current_user.has_role?(:admin) && params[:user_id] 
        = render "schools/school_teacher_table"
  .column.is-one-third
    .card.has-background-light
      .card-header
        .card-header-title
          %i.fa.fa-id-card
          Who's who?
      .card-content
        .content 
          %ul 
            %li
              = @school.head
              .tag.is-info School Head
            %li
              = @school.deputy_head
              .tag.is-info School Deputy Head
            %li
              = @school.academic_head
              .tag.is-info School Academic Head
            %li
              = @school.assistant_a_h
              .tag.is-info School Assistant Academic Head
            %li
              = @school.islamic_deputy
              .tag.is-info School Islamic Deputy
            %li
              = @school.environment_incharge
              .tag.is-info School Environment Incharge
        .content
          School account created at: 
          = @school.created_at.strftime("%A %d of %B, %Y")