- if @standard.school.name == 'UANS'
  = image_tag "uans-show.svg"
= @standard.name
= @standard.section
- if params[:student_id]
  .ul 
    - @subjects.each do |subject|
      .li 
        = subject.name
- if user_signed_in_non_student?
  - if params[:user_id]
    .ul 
      - @user_subjects.each do |subject|
        .li 
          = subject.name
    - if current_user.has_role?(:admin)
      = link_to user_user_standard_academic_year_url(@user, @user_standard), class: "button is-link" do
        Click to add subjects

- if !params[:user_id] && !params[:student_id]
  %ul 
    - @standard_subjects.each do |subject|
      %li 
        = subject.name
        = subject.user_standard_academic_year.year
        = subject.user_standard_academic_year.user.username