= render 'standards/show_top_image'
= standard_title
%hr/
- if params[:student_id]
  = render 'standards/show_student'

- if user_signed_in_non_student?
  = render 'standards/show_user'

- if !params[:user_id] && !params[:student_id]
  .subtitle All Subjects
  .content
    %ol 
      - @standard_subjects.each do |subject|
        %li 
          .tag.is-link.is-medium
            = subject.name
            .tag.is-success   
              = subject.user_standard_academic_year.user.full_name
            .tag.is-info
              = subject.user_standard_academic_year.year
  %hr/
  .subtitle All Students
  .content
    %ol 
      - @standard.students.each do |student|
        %li 
          .tag.is-link.is-medium
            = student.full_name 