%li
  %span
    = link_to new_user_url do
      %span.icon.is-small
        %i.fas.fa-user
      New user
%li
  %span
    = link_to new_school_url do
      %span.icon.is-small
        %i.fas.fa-school
      New school
%li
  %span
    = link_to new_student_url do
      %span.icon.is-small
        %i.fas.fa-user-graduate
      New student
%li
  %span
    = link_to users_url do
      %span.icon.is-small
        %i.fas.fa-users
      All users
%li
  %span
    = link_to schools_url do
      %span.icon.is-small
        %i.fas.fa-building
      All schools
%li
  %span
    = link_to students_url do
      %span.icon.is-small
        %i.fas.fa-graduation-cap
      All students