%nav.navbar.is-light.mb-3{"aria-label" => "main navigation", :role => "navigation"}
  .navbar-brand
    %a.navbar-item{:href => "https://bulma.io"}
    = link_to root_path, class: 'navbar-item' do
      = image_tag 'wec_logo.png', height: "28"
      -# %img{:height => "28", :src => "https://bulma.io/images/bulma-logo.png", :width => "112"}/
    %a.navbar-burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarSmsWec", :role => "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #navbarSmsWec.navbar-menu
    .navbar-start
      %a.navbar-item
      = link_to root_path, class: 'navbar-item' do
        WEC SMS
      - unless user_signed_in_mttc_user?
        .navbar-item
          = link_to mttc_path, class: 'button is-info' do
            MTTC 
    .navbar-end
      .navbar-item
        /.buttons
        - if user_signed_in?
          - if user_signed_in_mttc_user?
            = link_to mttc_sessions_logout_path, method: :delete, class: "button is-danger" do
              Log out
          - else
            = link_to sessions_logout_path, method: :delete, class: "button is-danger" do
              Log out
        - else
          = link_to sessions_login_path, class: "button is-primary" do
            %strong 
              Log in
- if user_signed_in?
  - if user_signed_in_non_student?
    = render "layouts/users_nav_panel"
  - elsif user_signed_in_student?
    = render "layouts/students_nav_panel"